
<div class="col-xs-12 text-left">
  <div class="post">
    <div class='post-body'>
      <h3><%= dose.ingredient.name.capitalize %></h3>
      <p><%= dose.description.capitalize %></p>
    </div>
    <div class='post-controls'>
      <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
  </div>
</div>


