<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <ul class="list-inline">
            <li>
              <% link_to 'http://www.youtube.com', target: '_blank' do %>
                <i class="fa fa-youtube"></i>
              <% end %>
            </li>
            <li>
              <% link_to 'http://www.instagram.com', target: '_blank' do %>
                <i class="fa fa-instagram"></i>
              <% end %>
            </li>
            <li>
              <% link_to 'http://www.facebook.com', target: '_blank' do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <% link_to 'http://www.twitter.com', target: '_blank' do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <p>Made with <i class="fa fa-heart"></i> @lewagon</p>
        </div>
      </div>
    </div>
  </div>
</div>
