
.footer {
  background-color: $brand-color;
  color: #FFF;
  height: 100px;
  display: block;
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
  p {
    padding: 20px;
  }
}
